---
const { url, title } = Astro.props;
---

<li><a href={url}>{title}</a></li>

<style>
  a {
    font-size: 1.25rem;
    color: inherit;
    border: 3px solid rebeccapurple;
    border-radius: 1rem;
    padding: 7px;
  }
  li {
    margin: 1.6rem 0;
  }
</style>
