<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    border-radius: 0.75rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  a:hover {
    background-color: #9371c7;
  }
</style>

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
  <a href="/PicTest/">Pic Test</a>
</div>
